<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>147835643599-a9dk5sa10eirn01k5rqhf357harf56j0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.147835643599-a9dk5sa10eirn01k5rqhf357harf56j0</string>
	<key>API_KEY</key>
	<string>AIzaSyAxwQxmMrD_acTJDb95P2_xLbyl89fEwu0</string>
	<key>GCM_SENDER_ID</key>
	<string>147835643599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prishtinajet.ios</string>
	<key>PROJECT_ID</key>
	<string>prishtinajet-e088d</string>
	<key>STORAGE_BUCKET</key>
	<string>prishtinajet-e088d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:147835643599:ios:4944837a37195b50c0b9ba</string>
</dict>
</plist>